/*Title*/

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  padding-left: 15px;
  position: relative;
  cursor: pointer;
}

.title::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 5px;
  left: 0;
  transition: border 0.5s ease-in;
  border-style: solid;
  border-color: transparent transparent transparent green;
  border-width: 5px 10px;
}

.title--opened::before {
  transition: border 0.5s ease-out;
  border-color: green transparent transparent transparent;
  border-width: 10px 5px;
}


/*Thumbnails*/



